<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmacia</title>
    <link rel="stylesheet" href="../css/style.css">
    <!-- script ion-icons -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- script apache echarts -->
    <script src="
        https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js
    "></script>
</head>

<body class="darkmode">
    <!---------------------------------------------Cabecera--------------------------------------------------->
    <header>
        <nav id="navbar">
            <div class="hamburguesa">
                <ion-icon name="menu"></ion-icon>
            </div>
            <div class="nav-container">
                <div class="nav-title">
                    <h3>sistema farmacia administrador</h3>
                </div>
                <div class="nav-content">

                    <!-----------------------Modo Oscuro--------------------------------->
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="darkModeToggleInput">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <!-----------------------Mensage notificaciones--------------------------------->

                    <div class="notificacion">
                        <ion-icon name="notifications-outline"></ion-icon>
                    </div>
                    <div class="user">
                        <ion-icon name="contact"></ion-icon>
                    </div>

                </div>

            </div>
        </nav>
    </header>

    <!---------------------------------------------Cuerpo principal--------------------------------------------------->
    <main>
        <!---------------------------------------------sidebar--------------------------------------------------->

        <div class="sidebar">
            <ul class="sidebar-content">
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="home"></ion-icon>
                            <a href="../index.html">Inicio</a>
                        </div>
                    </div>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="cube"></ion-icon>
                            <span>Cajas</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">Lista de cajas</a></li>
                    </ul>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="cart"></ion-icon>
                            <span>Ventas</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">Abrir ventas</a></li>
                        <li class="sub-link"><a href="#">Cotizar productos</a></li>
                    </ul>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="wallet"></ion-icon>
                            <span>Inventario</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">Medicamentos por categoría</a></li>
                        <li class="sub-link"><a href="#">Medicamentos por laboratorio</a></li>
                        <li class="sub-link"><a href="#">Medicamentos por proveedor</a></li>
                        <li class="sub-link"><a href="#">Todos los medicamentos</a></li>
                    </ul>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="briefcase"></ion-icon>
                            <span>Ajustes de Inventario</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">Reabastecimiento</a></li>
                        <li class="sub-link"><a href="#">Ajuste de inventario</a></li>
                        <li class="sub-link"><a href="#">Pedido</a></li>
                    </ul>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="briefcase"></ion-icon>
                            <span>Reportes</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">Movimientos</a></li>
                        <li class="sub-link"><a href="#">Ventas</a></li>
                        <li class="sub-link"><a href="#">Ventas x cliente</a></li>
                        <li class="sub-link"><a href="#">Ventas x doctor</a></li>
                        <li class="sub-link"><a href="#">Ventas x cliente</a></li>
                        <li class="sub-link"><a href="#">Reportes cajas</a></li>
                        <li class="sub-link"><a href="#">Reportes ingresos egresos</a></li>
                    </ul>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">
                            <ion-icon name="people"></ion-icon>
                            <span>Administras mi negocio</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">administrar establecimiento</a></li>
                        <li class="sub-link"><a href="#">Registrar sucursal</a></li>
                        <li class="sub-link"><a href="#">Registrar usuarios</a></li>
                        <li class="sub-link"><a href="#">Asignar cajas</a></li>
                        <li class="sub-link"><a href="#">Asignar usuarios</a></li>
                    </ul>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">

                            <ion-icon name="cloud-download"></ion-icon>
                            <a href="#">Notas de ventas</a>
                        </div>

                    </div>
                </li>
                <li class="link">
                    <div class="menu-item">
                        <div class="item-link">

                            <ion-icon name="pie"></ion-icon>
                            <span>Configuracion</span>
                        </div>
                        <ion-icon name="arrow-dropdown"></ion-icon>
                    </div>
                    <ul class="sub-links">
                        <li class="sub-link"><a href="#">Perfil</a></li>
                        <li class="sub-link"><a href="#">Sistema</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="main-content">


            <div class="title">
                <h1>Cajas</h1>
            </div>
            <!---------------------------------------------main caja--------------------------------------------------->
            <div class="caja-container">

                <div class="venta-content">
                    <h3>productos</h3>
                    <div class="detalle-venta">
                        <div class="ventas-tabla">
                            <table class="table-venta">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>sanatusin</td>
                                        <td>1</td>
                                        <td>5 bs</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Quetorolaco</td>
                                        <td>3</td>
                                        <td>10 bs</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Jarabe</td>
                                        <td>2</td>
                                        <td>50 bs</td>
                                    </tr>
                                </tbody>

                            </table>

                            <div class="venta-cobro">
                                <span class="total">65 bs</span>
                                <button class="btn-primary">
                                    Terminar
                                </button>
                            </div>
                        </div>
                        <div class="filtro-ventas">
                            <form action="">
                                <div class="search">
                                    <div class="search-icon">
                                        <button><ion-icon name="search"></ion-icon></button>
                                    </div>
                                    <input type="text" name="search" id=""
                                        placeholder="¿Qué medicamentos estas buscando?">
                                </div>
                                <div class="result-search">
                                    <div class="table-container">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>producto</th>
                                                    <th>stock</th>
                                                    <th>precio unitario</th>
                                                    <th>precio paquete</th>
                                                    <th>estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>24</td>
                                                    <td>digestan</td>
                                                    <td>400 u</td>
                                                    <td>4 bs</td>
                                                    <td>50 bs</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <span class="filtro-title">Por categoria</span>
                                <div class="grid-content">
                                    <div class="grid-item">
                                        <a class="item-content"href="#">
                                            <div class="item-icon">
                                                <img src="../image/injectable.jpeg" alt="">
                                            </div>
                                            <div class="item-text">
                                                <span>jarabe</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/injectable.jpeg" alt="">
                                            </div>
                                            <span>injectable</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/injectable.jpeg" alt="">
                                            </div>
                                            <span>blister</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/injectable.jpeg" alt="">
                                            </div>
                                            <span>pomada</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/injectable.jpeg" alt="">
                                            </div>
                                            <span>sobres</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/injectable.jpeg" alt="">
                                            </div>
                                            <span>parche</span>
                                        </a>
                                    </div>


                                </div>

                                <span class="filtro-title">Por via de administracion</span>
                                <div class="grid-content">
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/parche.jpg" alt="">
                                            </div>
                                            <span>oral</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/parche.jpg" alt="">
                                            </div>
                                            <span>intravenosa</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/parche.jpg" alt="">
                                            </div>
                                            <span>untable</span>
                                        </a>
                                    </div>
                                </div>

                                <span class="filtro-title">Por laboratorio</span>
                                <div class="grid-content">
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/parche.jpg" alt="">
                                            </div>
                                            <span>vita</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/vita.jpg"alt="">
                                            </div>
                                            <span>cofarm</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/vita.jpg"alt="">
                                            </div>
                                            <span>vago</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/vita.jpg"alt="">
                                            </div>
                                            <span>megalabs</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/vita.jpg"alt="">
                                            </div>
                                            <span>sanofi</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/vita.jpg"alt="">
                                            </div>
                                            <span>ifa</span>
                                        </a>
                                    </div>
                                    <div class="grid-item">
                                        <a href="#">
                                            <div class="item-icon">
                                                <img src="../image/vita.jpg"alt="">
                                            </div>
                                            <span>terbol</span>
                                        </a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>

            </div>




        </div>

    </main>

    <!---------------------------------------------Pie de pagina--------------------------------------------------->
    <footer>
        <div class="footer-content">
            <h3> derechos reservados </h3>
        </div>
    </footer>
    <script> // funcionamiento del modo oscuro
        const toggle = document.querySelector('#darkModeToggleInput'); // el input real
        const body = document.querySelector('body');

        load();

        // Detectar cambio de estado
        toggle.addEventListener('change', () => {
            body.classList.toggle('dark');
            store(body.classList.contains('dark'));
        });

        // Cargar estado guardado
        function load() {
            const darkmode = localStorage.getItem('dark') === 'true';
            body.classList.toggle('dark', darkmode);
            toggle.checked = darkmode; // refleja el estado en el toggle
        }

        // Guardar estado
        function store(value) {
            localStorage.setItem('dark', value);
        }
    </script>
    <script>//funcionamiento del despligue de los sub links
        document.querySelectorAll(".sidebar .menu-item").forEach(item => {
            item.addEventListener("click", () => {
                const parent = item.closest(".link");

                // Cerrar todos los demás
                document.querySelectorAll(".sidebar .link").forEach(link => {
                    if (link !== parent) link.classList.remove("open");
                });

                // Alternar el actual
                parent.classList.toggle("open");
            });
        });

    </script>
    <script> //funcionamiento del boton hamburguesa
        const hamburguesa = document.querySelector('.hamburguesa');
        const sidebar = document.querySelector('.sidebar');

        hamburguesa.addEventListener('click', () => {
            sidebar.classList.toggle('collapsed');

            // Forzar el estado visible en móviles cuando se quita 'collapsed'
            if (!sidebar.classList.contains('collapsed')) {
                sidebar.style.transform = 'translateX(0)';
                sidebar.style.width = '250px';
                sidebar.style.padding = '10px 2px';
            } else {
                sidebar.style.transform = '';
                sidebar.style.width = '';
                sidebar.style.padding = '';
                sidebar.style.border = '';
            }
        });
    </script>

    <script type="text/javascript"> //crafica de ingresos y egresos 
        // Initialize the echarts instance based on the prepared dom
        var myChart = echarts.init(document.getElementById('graphyc'));

        // Specify the configuration items and data for the chart
        var option = {
            title: {
                text: 'INGRESOS EGRESOS'
            },
            tooltip: {},
            legend: {
                data: ['sales']
            },
            xAxis: {
                data: ['LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO', 'DOMINGO']
            },
            yAxis: {},
            series: [
                {
                    name: 'egresos',
                    type: 'bar',
                    data: [5, 25, 36, 10, 10, 34, 1]
                }, {
                    name: 'ingresos',
                    type: 'bar',
                    data: [1, 20, 56, 10, 13, 20, 1]
                }
            ]
        };

        // Display the chart using the configuration items and data just specified.
        myChart.setOption(option);
    </script>
    </script>
</body>

</html>